<div>
    <footer>
        <p>&copy 2019</p><p>Handcrafted with <3 in Connecticut, USA by Matthew A. Krieger.</p>
        <div id="footLinks">
            <a href="https://www.slideshare.net/slideshow/embed_code/key/2BwETVHFVtN5Y2" class="links" title="Go To Matthew's Resume" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/pc_de_hamburg_icon_pack/32x32/cv.png" alt="Resume"></a>

            <a href="https://github.com/AppManNYC" class="links" title="Go To Matthew's Github Page" target="_blank"><img src="https://github.githubassets.com/favicon.ico" alt="Github"></a>

            <a href="https://www.linkedin.com/in/matthewkrieger3/" class="links" title="Go To Matthew's LinkedIn Profile" target="_blank"><img src="http://www.download82.com/images/produse/iconuri/linkedin.png" alt="LinkedIn"></a>

            <a href="https://twitter.com/CSGrad2017/" class="links" title="Go To Matthew's LinkedIn Profile" target="_blank"><img src="https://addons.thunderbird.net/user-media/addon_icons/578/578614-64.png?modified=1423200033" alt="Twitter"></a>


            <a href = "mailto:MatthewKrieger.NYC@gmail.com?subject = Feedback&body = Message" title="Email Matthew Krieger" class="links"><img src="http://www.operion.com.my/main/images/icon/email.png" alt="email"></a>
        </div>
    </footer>
</div>
</body>
</html>