<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container" style="margin: 0 auto; text-align: center">
            <h1>Welcome To Pet Lookout!</h1>
            <p>View EVERY Lost Pet from all over the U.S.A.</p>
            <p>
                <a class="btn btn-primary btn-large" href="/lostPets/new">Add New Lost Pet</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% lostPets.forEach(function(lostPet){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= lostPet.image %>">
                    <div class="caption">
                        <h4><%= lostPet.city %></h4>
                        <h4><%= lostPet.state %></h4>
                    </div>
                    <p>
                        <a href="/lostPets/<%= lostPet._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>