<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Spotter - Landing Page</title>
</head>
<body>
    <h1>Coming Soon: Landing Page!</h1>

    <p>Welcome To Pet Spotter</p>

    <a href="/lostPets">View All Lost Pets</a>
</body>
</html>