body {
  background-color: #000000;
  font-family: 'Acme', sans-serif;
  color: #6944ff;
}

h1 {
  /*font-size: 98px;*/
  text-shadow: 10px 4px #000000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #ffffff !important;
  font-size: 88px !important;
}

#landing-header h2 {
  color: #ffffff;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url(http://cdn.litlepups.net/2018/11/04/download-wallpaper-1920x1080-dog-cat-funny-couple-full-hd-1080p.jpg);
}
.slideshow li:nth-child(2) {
  background-image: url(http://www.ubuntu-ast.org/largeimages/77/778892_cute-cat-wallpaper-for-mobile.jpg);
  animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  background-image: url(https://i.ytimg.com/vi/YR91S4tXVGA/maxresdefault.jpg);
  animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  background-image: url(https://newevolutiondesigns.com/images/freebies/cat-wallpaper-15.jpg);
  animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  background-image: url(https://images7.alphacoders.com/406/thumb-1920-406068.jpg);
  animation-delay: 40s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .slideshow li {
  opacity: 1;
}